name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant Gradle permission
        run: chmod +x android-app/gradlew

      - name: Build Debug APK
        working-directory: android-app
        run: ./gradlew assembleDebug --stacktrace
